name: Build My Docker Image
on: [push] # Запускать при каждом push в репозиторий

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t my-test-image .

      - name: Verify build
        run: echo "Docker build successful!"
